<div class="body">
	<div class="wrapper">
		<form action="">
			<h1>Giriş Yap</h1>
			<div class="input-box">
				<input type="text" placeholder="Kullanıcı Adı" required>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Password" required>
			</div>
			<div class="remember-forgot">
				<label><input type="checkbox"> Beni Hatırla</label>
				<a href=""> Şifremi Unuttum?</a>
			</div>
			<button type="submit" class="btn">Giriş Yap</button>
			<div class="register-link">
				<p>Hesabınız yok mu? <a href=""> Kayıt Ol</a> </p>
				
			</div>
		</form>
	</div>
</div>
