<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="mb-2 bg-dark">
      <div class="container">
        <div class="row">
          <span class="col-sm-8">
            <h1> 📽️ </h1>
          </span>
          <div class="col-sm-4 p-3">
            <div class="container">
              <div class="row">
                <span class="col-sm-4">
                  <button class="btn btn-info">🎫</button>
                </span>
                <span class="col-sm-4">
                  <button class="btn btn-danger">🎮</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main >
		<article class="m-5">
			<!--<app-main></app-main>-->
			<!--<app-game></app-game>-->
			<app-login></app-login>
		</article>
    </main>
	<footer class="p-3 mt-5" style="background-color: rgb(94, 94, 94);">
		<p class="pFooter">Oğuzhan Gündoğar 2023</p>
	</footer>
  </body>
</html>
